@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Russo+One);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);
/*----------Common Style-------------------*/

.p-left-lg{padding-left:40px !important;}
.p-left-md{padding-left:20px !important;}
.p-left-sm{padding-left:10px !important;}
.p-left-xs{padding-left:5px !important;}

.p-right-lg{padding-right:40px !important;}
.p-right-md{padding-right:20px !important;}
.p-right-sm{padding-right:10px !important;}
.p-right-xs{padding-right:5px !important;}

.p-top-lg{padding-top:40px !important;}
.p-top-md{padding-top:20px !important;}
.p-top-sm{padding-top:10px !important;}
.p-top-xs{padding-top:5px !important;}

.p-bottom-lg{padding-bottom:40px !important;}
.p-bottom-md{padding-bottom:20px !important;}
.p-bottom-sm{padding-bottom:10px !important;}
.p-bottom-xs{padding-bottom:5px !important;}

.paddingLR-lg{padding-left:40px !important;padding-right:40px !important;}
.paddingLR-md{padding-left:20px !important;padding-right:20px !important;}
.paddingLR-sm{padding-left:10px !important;padding-right:10px !important;}
.paddingLR-xs{padding-left:5px !important;padding-right:5px !important;}

.paddingTB-lg{padding-top:40px !important;padding-bottom:40px !important;}
.paddingTB-md{padding-top:20px !important;padding-bottom:20px !important;}
.paddingTB-sm{padding-top:10px !important;padding-bottom:10px !important;}
.paddingTB-xs{padding-top:5px !important;padding-bottom:5px !important;}

.padding-lg{padding:40px !important;}
.padding-md{padding:20px !important;}
.padding-sm{padding:10px !important;}
.padding-xs{padding:5px !important;}

.no-padding{padding:0 !important;}
.no-p-left{padding-left:0 !important;}
.no-p-right{padding-right:0 !important;}
.no-p-top{padding-top:0 !important;}
.no-p-botttom{padding-bottom:0 !important;}

.m-top-lg{margin-top:40px !important;}
.m-top-md{margin-top:20px !important;}
.m-top-sm{margin-top:10px !important;}
.m-top-xs{margin-top:5px !important;}

.m-bottom-lg{margin-bottom:40px !important;}
.m-bottom-md{margin-bottom:20px !important;}
.m-bottom-sm{margin-bottom:10px !important;}
.m-bottom-xs{margin-bottom:5px !important;}

.m-right-lg{margin-right:40px !important;}
.m-right-md{margin-right:20px !important;}
.m-right-sm{margin-right:10px !important;}
.m-right-xs{margin-right:5px !important;}

.m-left-lg{margin-left:40px !important;}
.m-left-md{margin-left:20px !important;}
.m-left-sm{margin-left:10px !important;}
.m-left-xs{margin-left:5px !important;}

.m-top-75{margin-top:75px;}

.marginLR-lg{margin-left:40px !important;margin-right:40px !important;}
.marginLR-md{margin-left:20px !important;margin-right:20px !important;}
.marginLR-sm{margin-left:10px !important;margin-right:10px !important;}
.marginLR-xs{margin-left:5px !important;margin-right:5px !important;}

.marginTB-lg{margin-top:40px !important;margin-bottom:40px !important;}
.marginTB-md{margin-top:20px !important;margin-bottom:20px !important;}
.marginTB-sm{margin-top:10px !important;margin-bottom:10px !important;}
.marginTB-xs{margin-top:5px !important;margin-bottom:5px !important;}

.margin-lg{margin:40px !important;}
.margin-md{margin:20px !important;}
.margin-sm{margin:10px !important;}
.margin-xs{margin:5px !important;}

.margin-auto{margin:0 auto !important;}
.no-margin{margin:0 !important;}
.no-m-left{margin-left:0 !important;}
.no-m-right{margin-right:0 !important;}
.no-m-top{margin-top:0 !important;}
.no-m-bottom{margin-bottom:0 !important;}

.no-radius{border-radius:0;}

.square-20{height:20px;width:20px;}
.square-30{height:30px;width:30px;}
.square-40{height:40px;width:40px;}
.square-50{height:50px;width:50px;}
.square-60{height:60px;width:60px;}
.square-70{height:70px;width:70px;}
.square-80{height:80px;width:80px;}
.square-90{height:90px;width:90px;}
.square-100{height:100px;width:100px;}

.width-full{width:100%;}
.width90p{width:90%;}
.width80p{width:80%;}
.width70p{width:70%;}
.width60p{width:60%;}
.width50p{width:50%;}
.width40p{width:40%;}
.width30p{width:30%;}
.width25p{width:25%;}
.width20p{width:20%;}

.width40px{width:40px;}
.width50px{width:50px;}

.h-400{height:350px;}
.h-300{height:300px;}
.h-200{height:200px;}

.font-9{font-size:9px;}
.font-10{font-size:10px;}
.font-12{font-size:12px;}
.font-14{font-size:14px;}
.font-16{font-size:16px;}
.font-18{font-size:18px;}
.font-20{font-size:20px;}
.font-28{font-size:28px;}

.font-Libre-Baskerville{font-family:"Libre Baskerville";}
.font-Russo-One{font-family:"Russo One"}
.font-Kaushan-Script{font-family:"Kaushan Script"}
.font-Ubuntu{font-family:"Ubuntu"}
.font-Titillium-Web{font-family:"Titillium Web"}

.relative{position:relative;}
.block{display:block;}
.inline-block{display:inline-block;}
.inline-flex{display:inline-flex;}
.cur-pointer{cursor:pointer;}
.display-none{display:none;}
.clear-both{clear:both;}
.modal{z-index:9999;}

.text-white{color:white;}
.text-black{color:black;}
.text-green{color:#40a629;}
.text-gray{color:#3f3f3f}
.text-blue{color:#17bcd0;}

.bg-white{background:#fff;}
.bg-black{background:#000;}
.bg-green{background:#40a629;}
.bg-gray{background:#3f3f3f;}
.bg-dark{background:#222222;}
.bg-blue{background:#17bcd0;}

.radius-5{border-radius:5px;}
.radius-10{border-radius:10px;}
.radius-15{border-radius:15px;}

.no-border-bottom{border-bottom:none;}
.no-border-top{border-top:none;}
.no-border-right{border-right:none;}
.no-border-left{border-left:none;}
.no-border{border:none;}

.w-border-bottom{border-bottom:1px solid #fff;}
.w-border{border:1px solid #fff;}
.border{border:1px solid #222222;}

.btn-blue{background:#17bcd0;color:#fff;font-family:"Russo One"}
.btn-green{background:#40a629;color:#fff;}
.btn-gray{background:#3f3f3f;color:white;}
.btn-gray:hover{background:#000;color:white;}
.btn-light-gray{background:#d7d6d6;color:black;}
.btn-light-gray:hover{background:#c4c0c0;}

.badge-green{background:#40a629;color:#fff;}
.badge-blue{background:#17bcd0;color:#fff;}

.opacity-zero{opacity:0;}

.list-group .list-group-item.active{background-color:#fff ; border-radius:5px;border: 1px solid #ddd; color:black;}

.top1px{position:relative;top:1px;}
.top2px{position:relative;top:2px;}
.top3px{position:relative;top:3px;}
.top4px{position:relative;top:4px;}
.top5px{position:relative;top:5px;}
.top8px{position:relative;top:8px;}

.underlined{border-bottom:1px solid #666;padding-bottom:2px;}

/*-------------Design------------------*/

a{color:#b7b7b7;text-decoration:none;}
a:hover{color:#17bcd0 !important;text-decoration:none;}

.index-bg-1{background:url(../images/golf.png) no-repeat fixed;background-size:100% 100%; height:640px;}
.index-bg-2{background:url(../images/landing/slide1.png) no-repeat fixed;background-size:100% 100%; height:640px;}
.index-bg-3{background:url(../images/landing/slide3.png) no-repeat fixed;background-size:100% 100%; height:640px;}
.panel-login{background:rgba(237,237,237,0.5);}
.box.box-black{
	border-top-color: #222222;
	}
.box.box-black.box-solid .box-header{
	color:#ffffff;
	background:#222222;
	background-color:#222222;
}
.box.box-black{border:1px solid #222222;}

.panel-black{border:1px solid #000;}
.panel-black .panel-heading{background:#1d1d1d;color:white;padding:5px;}
.panel-black .panel-body{padding:5px;}

.panel-gray{border:1px solid #222;}
.panel-gray .panel-heading{background:#1d1d1d;color:white;padding:5px;}
.panel-gray .panel-body{padding:5px;}

.modal-content-bg{border:2px solid #cacdca;}
.modal-content-bg .modal-header{background:#e0e0e0;border-top:5px solid #bec2be;border-right:3px solid #bec2be;}
.modal-content-bg .modal-body{border-right:3px solid #bec2be;}
.modal-content-bg .modal-footer{border-right:3px solid #bec2be;}